<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
<title>Input or Edit Employee</title>
<style>
	body {
		background-color: #12a370;
		font-family: 'Staatliches';
		margin: 5%;
	}

	form {
		background-color: #c2c5cc;
		margin: auto;
		width: 50%;
		padding: 3%;
		text-align: center;
		font-size: 150%;
		line-height: 150%;
		border: thick solid black;
	}

	input {
		line-height: 150%;
		font-size: 60%;
	}

	input[type="submit"] {
		background-color: black;
		color: white;
		font-family: 'Staatliches';
		font-size: 80%;
		margin-top: 15px;
	}

</style>
</head>
<body>
	<form th:object="${newEmployee}" th:action="@{/updateEmployee/{employeeId}(employeeId=${newEmployee.employeeId})}" method='POST' id="employeeForm">

		First Name: <input name="firstName" size="20" id="firstName" th:field="*{firstName}"><br />

		Last Name: <input name="lastName" size="20" id="lastName" th:field="*{lastName}"><br />

		Pay Rate: <input name="payRate" size="20" id="payRate" th:field="*{payRate}"><br />

		Email: <input name="email" size="20" id="email" th:field="*{email}"><br />

		<input name="submit" type="submit" value="submit" />
	</form>
</body>
</html>
