<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Input or Edit Account</title>
</head>
<body>
	<form th:object="${newAccount}" th:action="@{/updateAccount/{UserID}/{AccountId}(AccountId=${newAccount.ID}, UserID=${user.userID})}" method='POST' id="accountForm">
		
		Balance: <input name="balance" size="20" id="balance" th:field="*{balance}"><br />

		Interest Rate: <input name="interestRate" size="20" id="interestRate" th:field="*{interestRate}"><br />

		Date Created: <input name="dateCreated" size="20" id="dateCreated" th:field="*{dateCreated}"><br />

		Account Type: <select name="type" size="1" id="type" th:field="*{type}">
							<option th:value="Checking" th:text="Checking"></option>
							<option th:value="Savings" th:text="Savings"></option>
							<option th:value="Loan" th:text="Loan"></option>
					  </select></br>
		<p th:text="${newAccount.ID}"></p>
		
		<input name="submit" type="submit" value="submit" />
	</form>
</body>
</html>